html,
body {
  margin: auto;
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  /* background-color: yellow; */
  margin: auto;
  padding: auto;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  /* align-items: stretch; */
  /* align-content: flex-start; */
}

#header {
  position: absolute;
  margin: auto;
  padding: 2%;
  width: 100%;
  text-align: center;
  /* background-color: red; */
}

h1 {
  margin-bottom: -15px;
}

#quote-box {
  position: absolute;
  margin: auto;
  padding: 2%;
  width: 100%;
  height: 30%;
  background-color: #70CEC1;
  border-radius: 10px;
}

#text {
  font-size: 1.5em;
}

#author {
  margin-top: 4%;
}

#button-quote {
  position: absolute;
  margin: auto;
  width: 90%;
  bottom: 10%;
  text-align: center;
}

button {
  padding: 2%;
  min-width: 10%;
  max-width: 60%;
  min-height: 10%;
  max-height: 15%;
  font-size: 1.0em;
  color: #FFFFFF;
  background-color: #798FD5;
  border: 2px white solid;
  box-shadow: 3px 5px #76A8D3;
}

#footer {
  position: relative;
  margin: auto;
  padding: 2%;
  bottom: 2px;
  width: 90%;
  text-align: center;
  /* background-color: green; */
}

#container > div {
  position: relative;
  margin: auto;
  width: 50%;
}
